asgiref==3.5.2
certifi==2022.9.14
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.1
dj-database-url==1.0.0
Django==4.1.1
django-cors-headers==3.13.0
django-heroku==0.3.1
django-storages==1.13.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
drf-jwt==1.19.2
dropbox==11.34.0
idna==3.4
ply==3.11
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycparser==2.21
PyJWT==2.4.0
pytz==2022.2.1
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
stone==3.3.1
typing_extensions==4.3.0
urllib3==1.26.12
whitenoise==6.2.0
